@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

.sponsors {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 34vw;
    font-family: Amaranth;
    margin-top: -5%;
    padding: 0% 3% 0% 3%;
}

.sponsors .title {
    color: rgb(0, 191, 255);
    text-align: center;
    font-weight: bold;
}

.sponsors .title h1{
    font-size: 2.5vw;
}

.sponsors .content {
    display: block;
    /*padding-top: 2%;
    padding-bottom: 2%;*/
}

.sponsors .line_content {
    display: flex;
    justify-content: center;
}

.sponsors .line_content img {
    width: 18vw;
    padding: 2% 20% 2% 20%;
}