@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.proj-exp {
  font-family: "Inter";
  background-color: #18191f;
  color: white;
  padding: 70px 80px 70px 80px;
}

.exp-title {
  color: #2ec5ce;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 25px;
}

.desgn-title,
.metho-title,
.proto-title {
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 15px;
}
