@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

.navbar-lecchain {
  font-family: "Open Sans";
  font-weight: bold;
  margin-top: 2%;
}

.navbar-link-lecchain {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  animation: 1.5s infinite;
  transition: all 0.1s ease-in;
}

.navbar-link-lecchain:hover {
  color: red;
  text-decoration: none;

  animation: 0;
}

.navbar-nor-back-lecchain {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0% 0% 0% 0%;
  width: 6vw;
  height: 6vw;
  font-size: 1.2vw;
  border-radius: 50%;
  background-color: rgba(143, 144, 146, 0.28);
}

.navbar-nor-back-lecchain:hover {
  background-color: rgba(86, 221, 252, 0.58);
}

.navbar-nor-back-lecchain:hover ~ .navbar-lecchain {
  background-color: black;
}

.navbar-sel-back-lecchain {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0% 0% 0% 0%;
  width: 6vw;
  height: 6vw;
  font-size: 1.2vw;
  border-radius: 50%;
  background-color: rgba(55, 195, 228, 0.38);
}

.navbar-sel-back-lecchain:hover {
  background-color: rgba(86, 221, 252, 0.58);
}
