@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.about-init {
  background-color: #18191f;
  color: #2ec5ce;
  display: flex;
  justify-content: center;
  padding: 50px 50px 50px 0px;
}

.init-text {
  font-family: "Inter";
  font-weight: bolder;
  font-size: 72px;
}

.init-img {
  height: 622px;
  width: 622px;
  background-color: #f1e4ff;
  border-radius: 311px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.init-image {
  height: 90%;
}
