@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.lecchain-instructors {
  background-color: #f4f5f7;
  padding: 75px;
  font-family: "Inter";
}

.instructor-title {
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
}

.instructors {
  margin: 75px 0px;
  display: flex;
  justify-content: center;
}

.instructor {
  margin: 0px 100px;
  text-align: center;
}

.instructor-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px 0px;
}

.instructor-name {
  font-weight: bold;
  font-size: 20px;
}

.instructor-email a {
  font-size: 14px;
  color: #2ec5ce;
  text-decoration: none;
}

.instructor-email a:hover {
  color: #2ec5ce;
  text-decoration: none;
}
