@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

.laboratory {
  background-color: gray;
  display: flex;
  gap: 50px;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap-reverse;
  font-family: "Open Sans";
  font-weight: 600;
}

.lab-box {
  color: white;
  width: 35vw;
  height: 40vh;
  background-image: url("./../../data/img/Marcelo.jpeg");
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
