@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.entrep-business {
  font-family: "Inter";
  background-color: #18191f;
  color: #f4f5f7;
  padding: 70px 80px 1px 80px;
}

.business-title {
  color: #30c5ce;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 25px;
}

.business-intro {
  margin-bottom: 25px;
}

.business-sect {
  display: flex;
  margin-bottom: 50px;
}

.sect-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 25px;
}

.sect-txt-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.sect-txt-text {
  text-align: center;
}

.sect-img {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
