@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.entrep-extra {
  font-family: "Inter";
  background-color: #18191f;
  padding: 0px 80px 70px 80px;
  color: #f4f5f7;
}

.extra-sect {
  margin-bottom: 50px;
}

.ext-sect-txt {
  display: flex;
  margin-bottom: 25px;
  gap: 50px;
  text-align: justify;
}

.ext-sect-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #30c5ce;
}

.ext-sect-text {
  flex: 4;
}

.ext-sect-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
