@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.humprac-public {
  font-family: "Inter";
  background-color: #f4f5f7;
  padding: 75px;
}

.public-title {
  color: #2ec5ce;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 25px;
  text-align: left;
}

.public-text {
  color: #18191f;
  font-size: 20px;
  font-weight: regular;
  text-align: justify;
  margin-bottom: 15px;
}
