@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

.lecchain-timeline {
    padding: 5% 0%;
}

.lecchain-timeline h1 {
    font-family: Amaranth;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
    color: rgb(0, 191, 255);
    font-weight: bold;
    font-size: 4vw;
}