@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

.collaborations-lecchain {
  display: flex;
  height: 75vh;
  font-family: "Open Sans";
  background-color: #353535;
  color: white;
}

.collab-left-arrow-lecchain,
.collab-right-arrow-lecchain {
  display: flex;
  justify-content: center;
}

.collab-content-lecchain {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
}

.collab-title-lecchain {
  margin: 20.5px 0px;
  text-align: center;
  color: rgba(86, 221, 252, 0.58);
}

.collab-content-images-lecchain {
  margin: 20px 0px;
  display: flex;
  text-align: center;
}

.collab-content-image-lecchain {
  text-align: center;
}

.collab-content-text-lecchain {
  font-size: 24px;
}

.collab-content-image-txt-lecchain {
  text-align: center;
  padding: 0px 25px;
}
