@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.proj-desc {
  font-family: "Inter";
  background-color: #18191f;
  color: white;
  padding: 70px 80px 70px 80px;
}

.desc-title {
  color: #2ec5ce;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 25px;
}

.desc-txt {
  margin-bottom: 15px;
}

.desc-txt b {
  color: #2ec5ce;
}

.desc-ref {
  margin-top: 150px;
}

.ref-title {
  margin-bottom: 15px;
}

.ref-ref {
  margin-bottom: 5px;
}

.ref-ref a {
  color: #2ec5ce;
}
