@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.proj-desc {
  font-family: "Inter";
  background-color: #18191f;
  color: white;
  padding: 70px 80px 70px 80px;
}

.desc-title {
  color: #2ec5ce;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 25px;
}

.desc-txt {
  margin-bottom: 10px;
  text-align: justify;
}

.desc-txt b {
  color: #2ec5ce;
}

.desc-ref {
  margin-top: 20px;
  font-size: 14px;
}

.ref-title {
  margin-bottom: 15px;
}

.ref-ref {
  margin-bottom: 5px;
}

.ref-ref a {
  color: #2ec5ce;
}

.desc-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 50px;
}

.none {
  display: none;
}

.desc-img-img {
  flex: 2;
  background-color: #f4f5f7;
  padding: 50px;
}

.desc-img-txt {
  flex: 1;
  font-size: 20px;
  display: block;
}
