.collaboration-card {
  margin-top: 450px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.collaboration-title {
  margin-bottom: 105px;
}

.collaboration-images {
  display: flex;
  padding-right: 8px;
  gap: 125px;
}

.collaborator-img {
  width: 130px;
  border-radius: 65px;
}
