@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

.navbar-lecchain {
  font-family: "Open Sans";
  font-weight: bold;
  /*background-color: white;
  background-color: white;*/
}

.navbar-link-lecchain {
  color: rgb(255, 255, 255);
}

.navbar-link-lecchain:hover {
  color: red;
  text-decoration: none;
}

.navbar-margin-lecchain {
  margin: 6px 0px 6px 0px;
}

.navbar-nor-back-lecchain {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2.3% 0% 0% 0%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(143, 144, 146, 0.28);
}

.navbar-nor-back-lecchain:hover {
  background-color: rgba(86, 221, 252, 0.58);
  height: 75px;
  width: 75px;
}

.navbar-nor-back-lecchain:hover~.navbar-lecchain {
  background-color: black;
}

.navbar-sel-back-lecchain {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2.3% 0% 0% 0%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(55, 195, 228, 0.38);
}

.navbar-sel-back-lecchain:hover {
  background-color: rgba(86, 221, 252, 0.58);
}